{# <section class="container-fluid mb-5">
    <div class="row justify-content-around">
        <div class="card" style="width:31rem;border:none">
            <img src="./img/audrey.png" alt="Audrey Bonnefaes" width="60%" class="mx-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Audrey Bonnefaes</h3>
                            <div class="ml-1" style="border-left:6px solid yellow; height:42px"></div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <h5 class="card-title">28 ans, Parisienne originaire de Nantes</h5>
                        <p class="card-text">Définissez vos goûts et vos habitudes culinaires pour définir votre profil</p>
                        <b>Toque Bouche Bée</b>
                        <p>En charge principalement du développement produit et du business development</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width:31rem;border:none">
            <img src="./img/megane.png" alt="Mégane Laroche" width="60%" class="mx-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h3>Mégane Laroche</h3>
                            <div class="ml-1" style="border-left:6px solid #FFD2BF; height:42px"></div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <h5 class="card-title">29 ans, Parisienne originaire de Strasbourg</h5>
                        <p class="card-text">8 ans d’expérience dans la communication des réseaux sociaux, production de contenus et influence marketing.</p>
                        <b>Toque Bouche Bée</b>
                        <p class="card-text">En charge principalement  de la communication  et growth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <a class="btn btn-danger" style="background-color:#81341D; border-color:#81341D">Nous écrire</a>
    </div>
    <img src="./img/footerSect3.png" width="100%" class="mt-5"/>
    <div class="col mt-5 text-right">
        <h1>Ils nous <span class="text-info">soutiennent</span></h1>
        <div class="mt-4">
            <img src="./img/ionis.png"/>
            <img src="./img/bge.png"/>
        </div>
    </div>
    <div class="mt-5 row justify-content-center text-secondary">
        <h6>Bouche Bée - 2021</h6>
        <img src="./img/fb.png" class="img-fluid mx-3">
        <img src="./img/insta.png" class="img-fluid">
    </div>
</section> #}

<section>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <img src="./img/audrey.png" alt="Audrey">
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center align-items-center">
                            <h3 class="card-title">Audrey Bonnefaes</h3>
                            <div class="hr ml-3" style="border-color: #FFC710;"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="card-title">28 ans, Parisienne originaire de Nantes</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text">Définissez vos goûts et vos habitudes culinaires pour définir votre profil</p>
                        <b class="card-text">Toque Bouche Bée</b>
                        <p class="card-text">En charge principalement du développement produit et du business development</p>
                    </div>     
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <img src="./img/megane.png" alt="Mégane">
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-md-6">
                        <div class="d-flex justify-content-center align-items-center">
                            <h3 class="card-title">Mégane Laroche</h3>
                            <div class="hr ml-3" style="border-color: #FFD2BF;"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h4 class="card-title">29 ans, Parisienne originaire de Strasbourg</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text">8 ans d’expérience dans la communication des réseaux sociaux, production de contenus et influence marketing.</p>
                        <b class="card-text">Toque Bouche Bée</b>
                        <p class="card-text">En charge principalement  de la communication  et growth.</p>
                    </div>     
                </div>
            </div>
        </div>
        <div class="col text-center">
            <a class="btn btn-danger" style="background-color:#81341D; border-color:#81341D">Nous écrire</a>
        </div>
        <img src="./img/footerSect3.png" width="100%" class="mt-5"/>
        <div class="col mt-5 text-right">
            <h1>Ils nous <span style="color: #F7B192;">soutiennent</span></h1>
            <div class="mt-4">
                <img src="./img/ionis.png"/>
                <img src="./img/bge.png"/>
            </div>
        </div>
        <div class="d-flex my-5 justify-content-center align-items-center">
            <h5 class="m-0 mr-2 text-secondary montserrat">Bouche bée</h5>
            <img src="./img/fb.png" alt="Facebook">
            <img src="./img/insta.png" alt="Facebook">
        </div>
    </div>
    
</section>