<section class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6 d-lg-none">
            <img src="./img/team.png" width="100%">
        </div>
        <div class="col-md-4 m-auto">
            <h1>Notre <span class="text-warning">équipe</span></h1>
            <p>Nous sommes <b>Audrey Boonefaes</b> et <b>Mégane Laroche</b> deux grandes amatrices de “bonne bouffe”, de 28 et 29 ans. D’une part et d’autre de la France, nous avons grandi dans des familles passionnées de gastronomie, qui en ont fait leur métier.</p>
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <img src="./img/team.png" width="100%">
        </div>
    </div>
</section>