<section class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6 d-lg-none">
            <img src="./img/img1.svg" width="100%">
        </div>
        <div class="col-md-4 m-auto">
            <h1 class="tiempo">Découvrez <img src="./img/bouchebee1.png" style="margin-bottom: 11px;"></h1>
            <p>Trouvez de nouveaux <b>restaurants</b> et <b>bars</b> grâce à votre <b>communauté gustative</b>.
            <div class="col p-0">
                <a class="btn btn-primary" style="background-color:#F7B192;border-color:#F7B192">Je veux tester la beta</a>
            </div>          
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <img src="./img/img1.svg" width="100%">
        </div>
    </div>
</section>