<div class="container-fluid mb-5">
    <div class="row justify-content-end">
        <div class="col-md-6 d-none d-lg-block d-print-block">
            <img src="./img/img2.svg" height="100%"/>
        </div>
        <div class="col-md-6 my-auto" style="text-align:right;">
            <h1 class="mr-5">Notre <span style="color:#CF9133">application</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 m-auto d-none d-lg-block" style="top: -150px; left: 0; right: 0;">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source  src="./img/video1.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
        <div class="col-md-8 mx-auto mt-5 d-lg-none">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source  src="./img/video1.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
    
</div>