<section class="container-fluid mb-5">
    <div class="row mb-5">
        <div class="col">
            <h1 class="ml-5 tiempo">Comment <span class="text-warning">ça marche ?</span></h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list2.svg" alt="Mon profil gustatif" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>01</h3>
                            <div class="ml-1" style="border-left:6px solid #FFD2BF; height:42px"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Mon profil gustatif</h5>
                        <p class="card-text">Définissez vos goûts et vos habitudes culinaires pour définir votre profil</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list3.svg" alt="Match and Miam" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>02</h3>
                            <div class="ml-1" style="border-left:6px solid #F9F0C8; height:42px"></div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <h5 class="card-title">Match & Miam</h5>
                        <p class="card-text">Matchez des personnes partageant des goûts similaires au votre afin d'avoir accès à leur adresses qui devraient vous plaire</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list7.svg" alt="De nouvelles adresses" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>03</h3>
                            <div class="ml-1" style="border-left:6px solid #FFE386; height:42px"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">De nouvelles adresses</h5>
                        <p class="card-text">Ajoutez et partagez vos adresses avec vos matchs gustatif</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="./img/footerSect3.png" width="100%" class="mt-5"/>
</section>