<section class="container-fluid">
    <div class="row mb-5">
        <div class="col text-right">
            <h1>Nos <span style="color: #AB972F;">valeurs</span><h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list4.svg" alt="Consommer local" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>01</h3>
                            <div class="ml-1" style="border-left:6px solid #FFE386; height:42px"></div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <h5 class="card-title">Consommer local</h5>
                        <p class="card-text">Nous privilégions la découverte de restaurants autour de chez vous qui utilisent des produits locaux</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list6.svg" alt="Relation de confiance" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>02</h3>
                            <div class="ml-1" style="border-left:6px solid #FFD2BF; height:42px"></div>
                        </div>
                    </div>
                    <div class="col text-right">
                        <h5 class="card-title">Relation de confiance</h5>
                        <p class="card-text">Nous sommes à votre écoute au moindre pépin :) Nous avons un service 24h/24 dispo pour vous</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 21rem;border:none">
            <img class="card-img-top" src="./img/list5.svg" alt="Humain et éthique" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <h3>03</h3>
                            <div class="ml-1" style="border-left:6px solid #81341D; height:42px"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="card-title">Humain et éthique</h5>
                        <p class="card-text">Chez Bouche Bée nous mettons l’humain au coeur de nos préoccupations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>