<section class="container-fluid">
    <div class="row col">
        <div class="col-md-6 m-auto">
            <div class="col">
                <h1>Envie de <span style="color:#81341D">devenir testeur ?</span></h1>
                <p>Laissez-nous <b>vos coordonnées</b>, nous prendrons contact avec vous rapidement.</p>
            </div>
            <form action="#" method="POST">
                <div class="col form-group">
                    <input type="text" class="form-control" placeholder="Votre prénom" />
                </div>
                <div class="col form-group">
                    <input tpe="email" class="form-control" placeholder="Votre email" /> 
                </div>
                <div class="col form-group">
                    <textarea rows="10" class="form-control" placeholder="Rédigez votre message ici..."></textarea>
                </div>
                <div class="col form-group">
                    <button class="btn btn-danger" style="background-color:#81341D; border-color:#81341D">Tester !</button>
                </div>
            </form>
        </div>
        <div class="col text-right">
            <img src="./img/footer.png" class="img-fluid"/>
        </div>
        <div class="position-absolute m-auto d-none d-lg-flex justify-content-center text-secondary" style="left:0; right:0; bottom:0">
            <h6>Bouche Bée - 2021</h6>
            <img src="./img/fb.png" class="img-fluid mx-3">
            <img src="./img/insta.png" class="img-fluid">
        </div>
    </div>
    <div class="mt-5 row d-lg-none justify-content-center text-secondary">
        <h6>Bouche Bée - 2021</h6>
        <img src="./img/fb.png" class="img-fluid mx-3">
        <img src="./img/insta.png" class="img-fluid">
    </div>
</section>