<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./img/logo.png" alt="" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse justify-content-end navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color:#8B2E13">L'app</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restaurateurs" style="color:#8B2E13">Restaurateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team" tabindex="-1" aria-disabled="true" style="color:#8B2E13">Notre équipe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>