<section class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="./img/resto2.png" width="100%">
        </div>
        <div class="col-md-4 m-auto">
            <h1><span class="text-warning">bouche bee</span> à vos côtés</h1>
            <p><span class="text-warning">Bouche bée</span> est un outil qui s’adresse à deux cibles bien distinctes, de chaque côté du zinc ; les <b>clients</b> et <b>vous</b>, <b>les restaurateurs</b>.</p>
            <p><b>Notre objectif ?</b> Vous permettre d’être <b>totalement indépendant numériquement</b> et ainsi <b>accroître votre visibilité</b> et votre <b>activité</b> !</p>
        </div>
    </div>
</section>