<section class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6 d-lg-none">
            <img src="./img/img1.svg" width="100%">
        </div>
        <div class="col-md-4 m-auto">
            <h1>Restaurateurs, testez notre solution <span style="color:#81341D">avant tout le monde</span></h1>
            <p>Grâce à <b>bouche bée</b>, touchez directement vos futurs clients et fidélisez ceux qui vous connaissent déjà.</p>
            <div class="col p-0">
                <a class="btn btn-danger" style="background-color:#81341D; border-color:#81341D">Inscrivez-vous pour devenir testeur</a>
            </div>
        </div>
        <div class="col-md-6 d-none d-lg-block">
            <img src="./img/resto1.png" width="100%">
        </div>
    </div>
</section>